<p-toast position="center"></p-toast>

<div class="container-fluid mt-4 text-right">
    <div class="row pnl-content">
        <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100">
            <div class="row">
                <div class="col-lg-4 col-sm-12 mb-3">
                    <span class="p-fluid">
                        <p-autoComplete [lazy]="true" [dropdown]="true" (onSelect)="onSelectUnit($event)"
                            (onClear)="onSelectUnit($event)" [suggestions]="filteredUnits" placeholder="نوع واحد فناور"
                            (completeMethod)="filterUnit($event)" field="title">
                        </p-autoComplete>
                    </span>
                </div>
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input name="ceoID" maxlength="10" minlength="10" pKeyFilter="int" id="" pInputText
                        placeholder="کد ملی مدیر عامل/نماینده" formControlName="ceoID" />
                    <ul class="mt-1 text-right list-inline" *ngFor="let error of errorMessages.ceoID">
                        <li class="font-small text-danger font-weight-bold list-inline-item"
                            *ngIf="form.get('ceoID').hasError(error.type) && (form.get('ceoID').dirty || form.get('ceoID').touched)">
                            {{ error.message }}
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input name="ceoFullName" type="text" pInputText placeholder=" نام و نام خانوادگی مدیر عامل/نماینده"
                        formControlName="ceoFullName" />
                    <ul class="mt-1 text-right list-inline" *ngFor="let error of errorMessages.ceoFullName">
                        <li class="font-small text-danger font-weight-bold list-inline-item"
                            *ngIf="form.get('ceoFullName').hasError(error.type) && (form.get('ceoFullName').dirty || form.get('ceoFullName').touched)">
                            {{ error.message }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input pKeyFilter="int" formControlName="ceoMobile" maxlength="11" minlength="11" name="mobile"
                        pInputText placeholder="  شماره موبایل مدیر عامل/نماینده" required />
                    <ul class="mt-1 text-right list-inline" *ngFor="let error of errorMessages.ceoMobile">
                        <li class="font-small text-danger font-weight-bold list-inline-item"
                            *ngIf="form.get('ceoMobile').hasError(error.type) && (form.get('ceoMobile').dirty || form.get('ceoMobile').touched)">
                            {{ error.message }}
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input pKeyFilter="int" formControlName="ceoPhone" maxlength="11" minlength="11" name="ceoPhone"
                        pInputText placeholder="تلفن ثابت مدیر عامل/نماینده" required />
                </div>
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input name="companyName" type="text" pInputText placeholder="اسم شرکت"
                        formControlName="companyName" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 mb-3">
                    <input name="companyID" type="text" pInputText placeholder="شناسه ملی شرکت"
                        formControlName="companyID" />
                </div>
                <div class="col-lg-8 col-sm-12 mb-3">
                    <input name="members" type="text" pInputText placeholder="اعضای تیم یا شرکت"
                        formControlName="members" />
                    <ul class="mt-1 text-right list-inline" *ngFor="let error of errorMessages.members">
                        <li class="font-small text-danger font-weight-bold list-inline-item"
                            *ngIf="form.get('members').hasError(error.type) && (form.get('members').dirty || form.get('members').touched)">
                            {{ error.message }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-3">
                    <textarea formControlName="idea" id="idea" name="idea" rows="4" pInputText
                        placeholder="ایده محوری"></textarea>
                    <ul class="mt-1 text-right list-inline" *ngFor="let error of errorMessages.idea">
                        <li class="font-small text-danger font-weight-bold list-inline-item"
                            *ngIf="form.get('idea').hasError(error.type) && (form.get('idea').dirty || form.get('idea').touched)">
                            {{ error.message }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-row-reverse">
                    <button type="submit" pButton label="ثبت" [disabled]="form.invalid"
                        class="panel-dark-button mt-3"></button>
                </div>
            </div>
        </form>
    </div>
</div>