input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
  width: 100% !important;
}

:host::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-family: IRANSans_Light !important;
  font-size: 14px;
}

ul li {
  font-size: 12px;
}

:host::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  font-family: IRANSans_Light !important;
  font-size: 16px;
}


:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
  font-size: 12px;
  text-align: center;
  position: sticky;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-family: IRANSans_Light !important;
  font-size: 13px;
  text-align: center;

}
label {
  font-size: 14px;
  color: #777;
  font-family: IRANSans_Bold !important;
}

.pi{
  color: red;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-size: 16px;
  font-family: IRANSans_Light !important;
  margin-right: 5px;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-size: 16px;
  font-family: IRANSans_Light !important;
}

:host::ng-deep .p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger>.p-button.p-button-text,
.p-splitbutton.p-button-danger>.p-button.p-button-text {
  padding: 0px;
  margin: 0px;
  width: 15px;
  height: 15px;
}

:host::ng-deep .p-button.p-button-danger .pi {
  font-size: 10px;
}